#home{
  
  .wrapper{
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    position: relative;
    padding-inline:7.5vw;

    .inner-wrapper{
      display: flex;
      height:80%;
      width: 100%;

      .text{
        width:50%;

        h1{
          color: $primary;
          font-size: 35px;
          width:50%;
          margin-bottom: 1.25rem;
        }

        h2{
          font-weight: 400;
          line-height: 40px;
          font-size: 20px;
          width: 60%;
          color:$secondary;
          margin-bottom:3rem;
        }

        a{
          font-size: 14px;
          background:$primary;
          color:white;
          padding:1.2rem 1.5rem;
        }
      }
  
      .illustration{
        width:50%;
        display: flex;
        justify-content: flex-end;

        img{
          width:50%;
          margin-right: 5rem;
          transform: rotate(15deg);
        }

      }
    }
  }
}



// tablets

@media(min-width:700px) and (max-width:1024px)
{
  #home{
    .wrapper{
      .inner-wrapper{
        flex-direction: column;

        .text{
          width:100%;
        }

        .illustration{
          width: 100%;

          img{
            margin:0 auto;
            margin-top:5rem;
          }
        }
      }
    }
  }
}




// mobile devices

@media(min-width:281px) and (max-width:640px)
{
  #home{

    nav{
      padding:1rem 4vw;
    }

    .wrapper{
      padding-inline: 4vw;
      align-items: flex-start;

      .inner-wrapper{
        flex-direction: column;
        margin-top:1.5rem;
        padding-inline: .75rem;

        .text{
          width:100%;

          h2{
            width: 100%;
            font-size: 17px;
            margin-bottom: 1.75rem;
            line-height: 35px;
          }

          h1{
            font-size: 25px;
            width: 80%;
            margin-bottom: .75rem;
          }

          a{
            padding: 1rem 1.25rem;
            font-size: 12px;
          }
        }

        .illustration{
          width: 100%;
          margin-top:3rem;

          img{
            transform: scale(.8) rotate(15deg);
          }
        }
      }

    }
  }
}


// Galaxy fold

@media(max-width:280px)
{

}