nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0px;

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    h1 {
      color: $primary;
      margin-left: 1rem;
      font-size: 20px;
      font-weight: 700;
    }

    img {
      width: 60px;
      height:60px;
    }

  }


  .container {
    display: flex;
    align-items: center;

    div {
      display: flex;
      position: relative;
      margin-left: .75rem;


      a {
        display: flex;

        .icon {
          color: $secondary;
          width: 2.5rem;
          height: 2.5rem;

        }

        .cart {
          width: 3rem;
        }
      }


      .count {
        background: $primary;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        right: -5px;
        top: 30%;
        cursor: pointer;
      }
    }

    .search-container {
      background: white;
      padding: 1rem;
      display: flex;
      align-items: center;
      border-radius: 50px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2),
        0px 1px 5px 0px rgba(0, 0, 0, 0.14);

      input {
        border: none;
        outline: none;
        margin-left: 1rem;
      }
    }
  }

}