#products{
  padding-inline:8vw;
  padding-bottom:2rem;

  .carousel{
    width:100%;
    background:$primary;
    height:400px;
    margin-top:1rem;

    img{
      width:100%;
      height: 100%;
    }
  }

  .pagination{
    margin-top:1rem;
    display: flex;
    justify-content: flex-end;

    button{
      display: flex;
      justify-content: center;
      align-items: center;
      width:40px;
      height:40px;
      margin-left:.5rem;
      color:white;
      background:$secondary;
      border:none;
      outline:none;
      border-radius: 5px;
      cursor:pointer;
      transition: .5s;

      &:hover{
        background: $primary;

      }
    }

    .active{
      background:$primary;
    }
  }

  .wrapper{
    margin-top:1rem;
    display: flex;
    gap:1rem;
    

    .filter-container{
      background:white;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2),
        0px 1px 5px 0px rgba(0, 0, 0, 0.14);
      width:30%;
      padding-bottom: 1rem;

      .header{
        background:$primary;
        color: white;
        padding:1rem;
      }

      .gender , .size , .color{
        padding-inline:1rem;

        div{
          margin-left:.75rem;
        }

        h1{
          margin:.75rem 0px;
          color:$secondary;
        }
      }

      .price{
        padding-inline:1rem;

        .price-inputs{
          display: flex;
          padding:1rem 0rem;
          margin-right: 75rem;
          width: 77%;

          div{
            border:1px solid $secondary;
            margin-left:.75rem;
            padding: .5rem;
            color:$secondary;
            font-weight: 600;
          }
        }

        .slider{
          padding-left:1rem;
          padding-right: 5rem;

          .css-3smgor-MuiSlider-thumb{
            background-color: white;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2),
            0px 1px 5px 0px rgba(0, 0, 0, 0.1);
          }
          

        }

        h1{
          margin:1rem 0px;
          color:$secondary;
        }
      }
    }

    

    .product-container{
      width:70%;
      display: grid;
      grid-template-columns: repeat(3 , 1fr);
      grid-auto-rows: 350px;
      gap:1rem;

      .item{
        background:white;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2),
        0px 1px 5px 0px rgba(0, 0, 0, 0.14);
        display: flex;
        flex-direction: column;
        align-items: center;

        button{
          width:80%;
          margin-top:.5rem;
          border:none;
          outline:none;
          background:$primary;
          color: white;
          padding:.7rem 1.6rem;
          cursor: pointer;
          transition: .5s;
        
          &:hover{
            transform: scale(1.05);
          }
        }

      
        .img-container{
          height:60%;
          display: flex;
          justify-content: center;
          img{
            width:80%;
          }
        }

        div:not(.img-container){
          display: flex;
          justify-content: space-between;
          width:80%;
          margin-top:2rem;

          h3{
            color:$secondary;
            margin-bottom: .25rem;
            font-weight: 500;
            font-size: 15px;
          }
        }
      }
    }


  }
}